var advert = '<a href="{{click-url}}">' +
             '<img class="ad" alt="{{title}}" src="{{image-url}}" border="0" height="{{height}}" width="{{width}}" />' +
             '</a>' +
             '<p class="ads">{{content}}</p>';
document.write(advert);
